<!DOCTYPE html>
<html lang="en">
<%- include('../../_component/head.ejs', {titleName: '상품 주문 확인'})%>
<body>
    <!--메인 화면-->
    <%- include('../../_component/goto_main.ejs')%>

    <h1>상품 주문 확인</h1>

    <p>영화관 이름 : <%= theater_code %></p>
    <p>상점 이름 : <%= store_code %></p>
    <table>
        <thead>
            <tr>
                <th>상품 이름</th>
                <th>상품 가격</th>
                <th>주문 수량</th>
                <th>소계</th>
            </tr>
        </thead>
        <tbody>
            <% for (const basket of basket_list) { %>
            <tr id="<%= basket.item_code %>">
                <td><%= basket.item_name%></td>
                <td><%= basket.item_price%></td>
                <td><%= basket.order_quantity%></td>
                <td><%= basket.item_price * basket.order_quantity %></td>
            </tr>
            <% } %>
        </tbody>
    </table>

    <h2>결제</h2>
    <p>가격 : <%= payment_price %></p>
    <!--결제 방법 선택-->
    <div>
        <select id="payment_method"></select>
        <button id="btn_pay">결제</button>
    </div>

    <script>
    const payment_method_category = ["신용카드", "무통장입금", "카카오페이", "포인트"];
    const payment_method = $("#payment_method");
    const btn_pay = $("#btn_pay");

    for (const element of payment_method_category)
    {
        payment_method.append(`<option value=${element}>${element}</option>`);
    }

    btn_pay.on('click', paycheck);

    async function paycheck()
    {
        // 세션 로그인 정보로부터 customer_code를 읽음
        const customer_response_data = await requestPostAPI('/purchase/item/check/customer_code');
        const customer_code = customer_response_data.data.customer_code;
        // 세션 만료인 상태라면 로그인 창으로 redirect
        if (customer_code == null)
        {
            alert("결제하려면 로그인을 해야 합니다.");
            window.location.href = '/signin';
            return false;
        }

        // 결제방법 정보 읽음
        const payment_method_data = {
            payment_method: payment_method.val()
        };
        const check_response_data = await requestPostAPI('/purchase/item/check/check_payment', payment_method_data);
        const is_payment_availabie = check_response_data.data.result;
        // 결제가 불가능하다면 false 반환
        if (is_payment_availabie == false)
        {
            alert('결제 실패, 다른 옵션을 선택하세요.');
            return false;
        }

        const theater_code = <%= theater_code %>;
        const store_code = <%= store_code %>;
        const basket_list = <%= basket_list %>;
        const payment_price = <%= payment_price %>;
        const payment_process_data = {
            customer_code,
            theater_code,
            store_code,
            basket_list,
            payment_price,
            payment_method: payment_method.val(),
            order_status: "주문"
        };

        const payment_process_response_data = await requestPostAPI('/purchase/item/check/process_payment', payment_process_data);
        const is_payment_success = payment_process_response_data.data.result;

        // 결제 성공 시 결제 완료 페이지로 이동
        if (is_payment_success)
        {
            alert('결제 완료');
            const payment_uid = payment_process_response_data.data.payment_uid;
            
            // 필요한 정보를 string으로 변환 후 다음 페이지 요청
            const href = '/purchase/item/complete';
            const queryParams = {
                    payment_uid,
                };
            const queryString = Object.entries(queryParams).map(([key, value]) => `${key}=${encodeURIComponent(value)}`).join('&');
            
            // 결제 완료 페이지로 payment_uid, ticket_uid, session_uid 전달
            window.location.href = `${href}?${queryString}`;
        }
        // 결제 실패 시 false 반환
        else
        {
            alert('결제 실패, 다시 시도하세요');
            return false;
        }
    }
    </script>
</body>
</html>