<!DOCTYPE html>
<html lang="en">
<%- include('../_component/head.ejs', {titleName: '메인'})%>
<body>
    <div class="container">
        <!--메인 화면-->
        <%- include('../_component/goto_main.ejs')%>

        <form id="search_form" class="mb-3">
            <div class="row g-3">
                <div class="col">
                    <input type="text" name="keyword" id="keyword" class="form-control" required>
                </div>
                <div class="col col-auto">
                    <button type="submit" id="btn_search" class="btn btn-primary">검색</button>
                </div>
            </div>
        </form>

        <h1><%= crew.crew_name %></h1>
        <p><%= crew.crew_name_eng %></p>
        <img src="<%= crew.profile_image %>" alt="profile_image">

        <h2>상세 설명</h2>
        <p>생일 : <%= crew.crew_birth_date %></p>
        <p>국적 : <%= crew.nationality %></p>
        <p>성별 : <%= crew.sex %></p>

        <h2>필모그래피</h2>
        <table class="table">
            <thead>
                <th scope="col">영화 제목</th>
                <th scope="col">주역할</th>
                <th scope="col">부역할</th>
            </thead>
            <tbody id="filmography">
                <% for (const movie of filmography_list) { %>
                    <tr id="<%= movie.movie_code %>">
                        <td><%= movie.movie_title %></td>
                        <td><%= movie.main_role %></td>
                        <td><%= movie.sub_role %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>
