<!DOCTYPE html>
<html lang="en">
<%- include('../../_component/head.ejs', {titleName: '구매 확인'})%>
<body>
    <!--메인 화면-->
    <%- include('../../_component/goto_main.ejs')%>
    <h1>영화 예약 확인</h1>
    <%
        const data = {
            theater_name: "theater1",
            screen_name: "3관",
            seat_row: 3,
            seat_col: 2,
            movie_title: "인디펜던스 데이",
            payment_price: 12000,
            purchase_category: "movie"
        }
    %>
    <p>영화관 : <%= data.theater_name %></p>
    <p>상영관 : <%= data.screen_name %></p>
    <p>좌석 : <%= data.seat_row %> <%= data.seat_col %></p>
    <p>영화 : <%= data.movie_title %></p>
    <p>가격 : <%= data.payment_price %></p>

    <!--결제 방법 선택-->
    <%- include('../../_component/payment_method.ejs')%>
</body>
</html>