<!DOCTYPE html>
<html lang="en">
<%- include('../../_component/head.ejs', {titleName: '영화 예약'})%>
<body>
    <!--메인 화면-->
    <%- include('../../_component/goto_main.ejs')%>
    <h1>티켓 예약 페이지</h1>
    <h2>영화티켓 예약</h2>
    <%
        let movie_list = ["movie1", "movie2"]
        let theater_list = ["theater1", "theater2"]
        let session_list = [
            {
                session_uid: "session1",
                screen_code: 300,
                session_round: 2,
                session_datetime: "12:35",
                subtitle_category: null
            },
            {
                session_uid: "session2",
                screen_code: 300,
                session_round: 3,
                session_datetime: "14:50",
                subtitle_category: "eng"
            }
        ]
    %>
    <!-- default : 오늘 날짜-->
    <h3>날짜</h3>
    <input type="date" name="session_date" id="session_date"><br>

    <h3>영화목록</h3>
    <select name="movie_title" id="movie_title">
        <% for(let idx = 0; idx < movie_list.length; idx++) { %>
            <option value="<%= movie_list[idx] %>"><%= movie_list[idx] %></option>
        <% } %>
    </select>
    <br>

    <h3>영화관목록</h3>
    <select name="theater" id="theater">
        <% for(let idx = 0; idx < theater_list.length; idx++) { %>
            <option value="<%= theater_list[idx] %>"><%= theater_list[idx] %></option>
        <% } %>
    </select>
    <br>


    
    <button id="search_session">검색</button>

    <!-- 초기 화면은 모든 상영정보 출력 -->
    <!--상영관, 상영회차 -> 영화관, 상영관-->
    <h3>상영목록</h3>
    <table>
        <thead>
            <th>상영관</th>
            <th>상영회차</th>
            <th>상영시각</th>
            <th>자막유형</th>
        </thead>
        <tbody>
        <% for (const element of session_list) { %>
            <tr data-session-uid="<%= element.session_uid %>">
                <td><%= element.screen_code %></td>
                <td><%= element.session_round %></td>
                <td><%= element.session_datetime %></td>
                <td><%= element.subtitle_category %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
        
    <a href="/purchase/movie/seat">좌석선택</a>
</body>
</html>