<!DOCTYPE html>
<html lang="en">
<%- include('../../_component/head.ejs', {titleName: '좌석예약'})%>
<body>
    <!--메인 화면-->
    <%- include('../../_component/goto_main.ejs')%>
    <h1>좌석 선택창</h1>
    <%
        let screen_code = 321
        let screen_max_row = 5
        let screen_max_col = 5
        const seat_uid = [
            [10, 20, 30, 40, 50],
            [30, 40, 50, 60, 70],
            [10, 20, 30, 40, 50],
            [30, 40, 50, 60, 70],
            [10, 20, 30, 40, 50],
        ]
    %>
    // 여러 개 체크할 수 있도록 고치기
    // 성인, 청소년 숫자 입력 화면 추가
    // 각 좌석마다 예약 가능/불가능 여부 보여주기
    
    // 스크린 방향이 어디인지 표시
    // 좌석 클래스 구분해서 보여주기

    <table screen_code="<%= screen_code %>">
        <thead>
            <tr>
                <th></th>
            <% for (let seat_c = 0; seat_c < screen_max_col; seat_c++) { %>
                <th><%= seat_c %></th>
            <% } %>
            </tr>
        </thead>
        <tbody>
        <% for (let seat_r = 0; seat_r < screen_max_row; seat_r++) { %>
            <tr>
                <th><%= seat_r %></th>
                <% for (let seat_c = 0; seat_c < screen_max_col; seat_c++) { %>
                <td>
                    <input
                        type="checkbox"
                        name="<%= seat_r %><%= seat_c %>"
                        id="<%= seat_uid[seat_r][seat_c] %>">
                </td>
                <% } %>
            </tr>
        <% } %>
        </tbody>
    </table><br>
    <a href="/purchase/item/check">예약 확인</a>
</body>
</html>
