<!DOCTYPE html>
<html lang="en">
<%- include('../../_component/head.ejs', {titleName: '영화 예약'})%>
<body>
    <!--메인 화면-->
    <%- include('../../_component/goto_main.ejs')%>
    <h1>티켓 예약 페이지</h1>
    <h2>영화티켓 예약</h2>
    <%
        let movie_list = ["movie1", "movie2"]
        let theater_list = ["theater1", "theater2"]
        let session_list = [
            {
                theater_name: "청량리 롯데시네마",
                screen_name: "session1",
                session_datetime: "12:35",
                subtitle_category: null
            },
            {
                theater_name: "청량리 롯데시네마",
                screen_name: "session2",
                session_datetime: "14:50",
                subtitle_category: "eng"
            }
        ]
    %>

    <script>
        // 페이지가 모두 로드된 후 실행하는 부분
        $(document).ready(() => {
            // 각 id값을 받아와 변수에 저장
            const tmp_data = $('#tmp_data');
            const date = $('#date');
            const movie = $('#movie');
            const theater = $('#theater');

            // 각 변수에 변화가 일어나는지 감지 (change 이벤트 감지 == addEventListener)
            // 변화가 일어나면 함수를 호출
            date.on('change', change_list);
            movie.on('change', change_list);
            theater.on('change', change_list);

            function change_list()
            {
                // 세 값을 읽음
                const val_date = $(date).val();
                const val_movie = $(movie).val();
                const val_theater = $(theater).val();
                
                const data = {
                    date: val_session,
                    movie: val_movie,
                    theater: val_theater
                }

                // do request
                const response_data = await requestPostAPI('purchase/', data)
                
                if (response_data.body.result == false)
                {
                    alert('실패')
                }

                // 그 값을 읽어서 tmp_data에 넣자
                // <li>로 넣겠음 (<li> : list 태그)
                const ul = $('<ul></ul>')
                ul.append($(`<li>${response_data.body.val_session_date}</li>`));
                ul.append($(`<li>${val_movie_list}</li>`));
                ul.append($(`<li>${val_theater_list}</li>`));
                
                // tmp_data에 ul을 첨부
                tmp_data.html(ul.html());
            }
        })
    </script>

    <div id="tmp_data">

    </div>

    <!-- default : 오늘 날짜-->
    <%
        const today = new Date();
        const year = today.getFullYear();
        const month = ("0" + (today.getMonth() + 1)).slice(-2);
        const date = ("0" + today.getDate()).slice(-2);

        const today_text = `${year}-${month}-${date}`
    %>
    <h3>날짜</h3>
    <input type="date" name="session_date" id="session_date" value="<%= today_text %>"><br>

    <h3>영화목록</h3>
    <select name="movie_list" id="movie_list">
        <option disabled selected>===</option>
        <% for(let idx = 0; idx < movie_list.length; idx++) { %>
        <option value="<%= movie_list[idx] %>"><%= movie_list[idx] %></option>
        <% } %>
    </select>
    <br>

    <h3>영화관목록</h3>
    <select name="theater_list" id="theater_list">
        <option disabled selected>===</option>
        <% for(let idx = 0; idx < theater_list.length; idx++) { %>
        <option value="<%= theater_list[idx] %>"><%= theater_list[idx] %></option>
        <% } %>
    </select>
    <br>

    <button id="search_session">검색</button>

    <!-- 초기 화면은 모든 상영정보 출력 -->
    <h3>상영목록</h3>
    <table>
        <thead>
            <th>영화관</th>
            <th>상영관</th>
            <th>상영시각</th>
            <th>자막유형</th>
        </thead>
        <tbody>
        <% for (const element of session_list) { %>
            <tr data_session_uid="<%= element.session_uid %>">
                <td><%= element.theater_name %></td>
                <td><%= element.screen_name %></td>
                <td><%= element.session_datetime %></td>
                <td><%= element.subtitle_category %></td>
            </tr>
        <% } %>
        </tbody>
    </table>

    <button id = "btn_goto_seat">좌석선택</button>
    <script>
        // 좌석 선택 버튼
        btn_goto_seat.addEventListener('click', async function(){
            const data = {
                theater_name: ,

            };

            const customer_login_response = await requestPostAPI('/purchase/movie/select/gotoseat', data)

            // 비회원 데이터가 존재해 로그인을 성공한 경우
            if (customer_login_response.data.result)
            {
                alert('비회원 로그인 성공');
            }
            // 비회원 데이터 새로 생성
            else
            {
                alert('다음에 로그인할 시 해당 데이터를 입력하시기 바랍니다.');
                alert('비회원 로그인 성공');
            }
            window.location.href = '/';
        });
    </script>
</body>
</html>