<!DOCTYPE html>
<html lang="en">
<%- include('../../_component/head.ejs', {titleName: '리뷰'}) %>
<body>
    <div class="container my-3">
        <!--메인 화면-->
        <%- include('../../_component/goto_main.ejs') %>

        <h1><%= review.movie_title %></h1>
        <h2><%= review.review_title %></h2>
        <p>글쓴이 : <%= review.account_id %></p>
        <p>평점 : <%= review.score %></p>
        <p><%= review.comment %></p>
    </div>
</body>
</html>
