<!DOCTYPE html>
<html lang="en">
<%- include('../_component/head.ejs', {titleName: '결제 완료'})%>
<body>
    <!--메인 화면-->
    <%- include('../_component/goto_main.ejs')%>
    <!--이 페이지 보여주기 전 결제 창 하나 대충 띄워주기-->
    <h1>결제 완료</h1>
    <% if (purchase_type == "movie") { %>
        <!--영화 결제-->
        영화관 : <%= theater_name %><br>
        상영관 : <%= screen_number %><br>
        좌석 : <%= seat_row %><%= seat_col %><br>
        영화 : <%= movie_title %><br>
    <% } else { %>
        <!--상품 결제-->
        영화관 : <%= theater_name %><br>
        상점 : <%= store_name %><br>
        상품 : <%= item_name %><br>
        주문갯수 : <%= order_quantity %><br>
    <% } %>
    가격 : <%= payment_price %><br>
    결제방법 : <%= payment_method %><br>

    <a href="/">메인 화면</a><br>
</body>
</html>