<!DOCTYPE html>
<html lang="en">
<%- include('_component/head.ejs', {titleName: '마이 페이지'})%>
<body>
    <!--메인 화면-->
    <%- include('_component/goto_main.ejs')%>
    <h1>마이 페이지</h1>
    <h2>내 계정 정보</h2>
    ID : <%= account_id %>
    비밀번호
    <input type="password" name="signin_pw" id="input_pw">
    별명
    <input type="text", name="nickname", id="input_nickname">
    이메일
    <input type="email", name="email", id="input_email">
    <button id="btn_modify">정보수정</button>

    <script>
        const btn_modify = findId('btn_modify');
        const input_pw = findId('input_pw');
        const input_nickname = findId('input_nickname');
        const input_email = findId('input_email');

        btn_modify.addEventListener('click', function(){
            const data = {
                pw: input_pw.value,
                nickname: input_nickname.value,
                email: input_email.value,
            };
            requestPostAPI('/mypage', data);
        });
    </script>

    <%
        const ticket_history = [
        {
            ticket_uid: 132,
            session_date: "2021.06.04.",
            session_datetime: "16:45",
            movie_name: "분노의 질주",
            ticket_price: 32000,
            reserve_status: "예약"
        },
        ]
    %>
    <h2>예약기록</h2>
    <table>
        <thead>
            <th>티켓번호</th>
            <th>날짜</th>
            <th>시각</th>
            <th>영화</th>
            <th>가격</th>
            <th>상태</th>
        </thead>
        <tbody>
            <% for (const history of ticket_history) { %>
            <tr>
                <td><%= history.ticket_uid %></td>
                <td><%= history.session_date %></td>
                <td><%= history.session_datetime %></td>
                <td><%= history.movie_name %></td>
                <td><%= history.ticket_price %></td>
                <td><%= history.reserve_status %></td>
            </tr>
            <% } %>
        </tbody>
    </table>

    <%
        const basket_history = [
        {
            basket_uid: 65465,
            store_name: "스낵코너",
            item_name: "팝콘",
            order_quantity: 2,
            order_status: "결제완료"
        },
        {
            basket_uid: 65466,
            store_name: "스낵코너",
            item_name: "콜라",
            order_quantity: 2,
            order_status: "결제완료"
        },
        ]
    %>

    <h2>상품구매기록</h2>
    <table>
        <thead>
            <th>상점</th>
            <th>상품</th>
            <th>수량</th>
            <th>주문상태</th>
        </thead>
        <tbody>
            <% for (const history of basket_history) { %>
            <tr>
                <td><%= history.store_name %></td>
                <td><%= history.item_name %></td>
                <td><%= history.order_quantity %></td>
                <td><%= history.order_status %></td>
            </tr>
            <% } %>
        </tbody>
    </table>

    <%
        // SELECT points_history_sq, reward_category, change_value, detail FROM points_history WHERE account_id="cur_signin_account_id";
        const points_history = [
        {
            points_history_sq: 1,
            reward_category: '추가',
            change_value: 300,
            detail: "포인트 적립",
        },
        {
            points_history_sq: 2,
            reward_category: '추가',
            change_value: 300,
            detail: "포인트 적립",
        },
        {
            points_history_sq: 3,
            reward_category: '사용',
            change_value: 300,
            detail: "포인트 적립",
        },
        {
            points_history_sq: 4,
            reward_category: '추가',
            change_value: 300,
            detail: "포인트 적립",
        },
        ]

        // SELECT SUM(change_value) FROM points_history WHERE account_id="account_id";
        const cur_points = 600
    %>

<!--예약했던 티켓 정보-->

    <h2>포인트</h2>
    <p>현재 포인트 : <%= cur_points %></p>
    <table>
        <thead>
            <th>순차번호</th>
            <th>적립/사용</th>
            <th>변동값</th>
            <th>내용</th>
        </thead>
        <tbody>
            <% for (const history of points_history) { %>
            <tr>
                <td><%= history.points_history_sq %></td>
                <td><%= history.reward_category %></td>
                <td><%= history.change_value %></td>
                <td><%= history.detail %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>
