<!DOCTYPE html>
<html lang="en">
<%- include('_component/head.ejs', {titleName: '마이 페이지'})%>
<body>
    <!--메인 화면-->
    <%- include('_component/goto_main.ejs')%>
    <h1>마이 페이지</h1>
    <h2>내 계정 정보</h2>
    ID : <%= account_id %>
    비밀번호
    <input type="password" name="signin_pw" id="input_pw">
    별명
    <input type="text", name="nickname", id="input_nickname">
    이메일
    <input type="email", name="email", id="input_email">
    <button id="btn_modify">정보수정</button>

    <script>
        const btn_modify = findId('btn_modify');
        const input_pw = findId('input_pw');
        const input_nickname = findId('input_nickname');
        const input_email = findId('input_email');

        btn_modify.addEventListener('click', function(){
            const data = {
                pw: input_pw.value,
                nickname: input_nickname.value,
                email: input_email.value,
            };
            requestPostAPI('/mypage', data);
        });
    </script>

    <%
        // SELECT points_history_sq, reward_category, change_value, detail FROM points_history WHERE account_id="cur_signin_account_id";
        const points_history = [
        {
            points_history_sq: 1,
            reward_category: '추가',
            change_value: 300,
            detail: "포인트 적립",
        },
        {
            points_history_sq: 2,
            reward_category: '추가',
            change_value: 300,
            detail: "포인트 적립",
        },
        {
            points_history_sq: 3,
            reward_category: '사용',
            change_value: 300,
            detail: "포인트 적립",
        },
        {
            points_history_sq: 4,
            reward_category: '추가',
            change_value: 300,
            detail: "포인트 적립",
        },
        ]

        // SELECT SUM(change_value) FROM points_history WHERE account_id="account_id";
        const cur_points = 600
    %>

<!--예약했던 티켓 정보-->

    <h2>포인트</h2>
    <p>현재 포인트 : <%= cur_points %></p>
    <table>
        <thead>
            <th>순차번호</th>
            <th>적립/사용</th>
            <th>변동값</th>
            <th>내용</th>
        </thead>
        <tbody>
            <% for (const history of points_history) { %>
            <tr>
                <td><%= history.points_history_sq %></td>
                <td><%= history.reward_category %></td>
                <td><%= history.change_value %></td>
                <td><%= history.detail %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>
